<footer class="site-footer" role="contentinfo">
  <div class="page-width">
    <div class="flex-footer">
      {% for block in section.blocks %}
        <div class="flex__item" {{ block.shopify_attributes }}>
          {% case block.type %}
            {% when 'social' %}                   
              <div class="site-footer__section">
                <h4 class="h1 site-footer__section-title">Contact us</h4>
                <div class="rte-setting">
                  <p>客服邮箱：info@thedrchen.com</p>
                  <p>寻求合作：fredchen@thedrchen.com</p>
                  <p>联系电话：+1 6478589418</p>
                  <br>
                  <br>
                  <p>更多优惠和秘密商品请加微信↓↓↓</p>
                  <img src="{{ 'sihaoqrcode-min.jpg' | asset_url }}" alt="私号二维码" />
                </div>
              </div>
            {% when 'menu' %}
              {% if linklists[block.settings.link_list].links.size > 0 %}
                <div class="site-footer__section">
                  <h4 class="h1 site-footer__section-title">{{ linklists[block.settings.link_list].title }}</h4>
                  <ul class="site-footer__list">
                    {% for link in linklists[block.settings.link_list].links %}
                      <li class="site-footer__list-item"><a href="{{ link.url }}">{{ link.title }}</a></li>
                    {% endfor %}
                  </ul>
                </div>
              {% endif %}

            {% when 'text' %}
              <div class="site-footer__section">
                <h4 class="h1 site-footer__section-title">{{ block.settings.title | escape }}</h4>
                <div class="rte-setting">{{ block.settings.text }}</div>
              </div>

            {% when 'newsletter' %}
              	<div class="site-footer__section">
                  <h4 class="h1 site-footer__section-title">About us</h4>
                  <div class="rte-setting">
                    <p>Dr Chen 加拿大第一高端情趣品牌旨在为加拿大华人提供优质的情趣用品选购和专业的性学指导</p>
                    <p>Dr Chen想要以更优质的性学指导造福加拿大的华人</p>
                    <p> Treat You Better</p>
                    <br>
                    <p>更多性爱知识欢迎关注公众号↓↓↓</p>
                    <img src="{{ 'gzhQR.jpg' | asset_url }}" alt="公众号二维码"/>
              </div>
            </div>
          {% endcase %}
          
        </div>
      {% endfor %}
    </div>
  </div>
  <div class="site-footer__copyright">
    <div class="page-width">
      <div class="grid medium-up--grid--table">
        <div class="grid__item medium-up--one-half">
          <small>&copy; {{ 'now' | date: "%Y" }}, {{ shop.name | link_to: '/' }}. {{ powered_by_link }}</small>
        </div>
        <div class="grid__item medium-up--one-half medium-up--text-right">
          {%- if section.settings.show_payment_icons -%}
            {%- unless shop.enabled_payment_types == empty -%}
              <span class="visually-hidden">{{ 'general.payment.method' | t }}</span>
              <ul class="list--inline payment-icons">
                {%- for type in shop.enabled_payment_types -%}
                  <li>
                    {{ type | payment_type_svg_tag: class: 'icon icon--full-color' }}
                  </li>
                {%- endfor -%}
              </ul>
            {%- endunless -%}
          {%- endif -%}
        </div>
      </div>
    </div>
  </div>
</footer>



{% schema %}
{
  "name": {
    "de": "Fußzeile",
    "en": "Footer",
    "es": "Pie de página",
    "fr": "Pied de page",
    "it": "Footer",
    "ja": "フッター",
    "pt-BR": "Rodapé"
  },
  "settings": [
    {
      "type": "checkbox",
      "id": "show_payment_icons",
      "label": {
        "de": "Zahlungs-Buttons anzeigen",
        "en": "Show payment icons",
        "es": "Mostrar iconos de pago",
        "fr": "Afficher les icônes de paiement",
        "it": "Mostra le icone di pagamento",
        "ja": "支払いアイコンを表示する",
        "pt-BR": "Exibir ícones de pagamento"
      },
      "default": true
    }
  ],
  "blocks": [
    {
      "type": "social",
      "name": {
        "de": "Social-Media-Konten",
        "en": "Social accounts",
        "es": "Cuentas de redes sociales",
        "fr": "Comptes sociaux",
        "it": "Account social",
        "ja": "SNSアカウント",
        "pt-BR": "Contas em redes sociais"
      },
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": {
            "de": "Titel",
            "en": "Heading",
            "es": "Título",
            "fr": "Titre",
            "it": "Heading",
            "ja": "見出し",
            "pt-BR": "Título"
          },
          "default": {
            "de": "Folge uns",
            "en": "Follow us",
            "es": "Síguenos",
            "fr": "Suivez-nous",
            "it": "Seguici",
            "ja": "フォローする",
            "pt-BR": "Acompanhe"
          }
        },
        {
          "type": "radio",
          "id": "align",
          "label": {
            "de": "Symbolausrichtung",
            "en": "Icon alignment",
            "es": "Alineación de ícono",
            "fr": "Alignement des icônes",
            "it": "Allineamento icona",
            "ja": "アイコンのアラインメント",
            "pt-BR": "Alinhamento de ícone"
          },
          "options": [
            {
              "value": "left",
              "label": {
                "de": "Links",
                "en": "Left",
                "es": "Izquierda",
                "fr": "Gauche",
                "it": "Sinistra",
                "ja": "左",
                "pt-BR": "Esquerda"
              }
            },
            {
              "value": "center",
              "label": {
                "de": "Mitte",
                "en": "Center",
                "es": "Centrar",
                "fr": "Centre",
                "it": "Al centro",
                "ja": "中央",
                "pt-BR": "Centro"
              }
            },
            {
              "value": "right",
              "label": {
                "de": "Rechts",
                "en": "Right",
                "es": "Derecha",
                "fr": "Droite",
                "it": "Destra",
                "ja": "右",
                "pt-BR": "Direita"
              }
            }
          ],
          "default": "left"
        }
      ]
    },
    {
      "type": "menu",
      "name": {
        "de": "Menü",
        "en": "Menu",
        "es": "Menú",
        "fr": "Menu",
        "it": "Menu",
        "ja": "メニュー",
        "pt-BR": "Menu"
      },
      "settings": [
        {
          "id": "link_list",
          "type": "link_list",
          "label": {
            "de": "Menü",
            "en": "Menu",
            "es": "Menú",
            "fr": "Menu",
            "it": "Menu",
            "ja": "メニュー",
            "pt-BR": "Menu"
          },
          "default": "footer",
          "info": {
            "de": "Dieses Menü zeigt keine Dropdowns an",
            "en": "This menu won't show dropdown items",
            "es": "Este menú no mostrará elementos desplegables",
            "fr": "Ce menu n'affichera pas les éléments des menus déroulants",
            "it": "Questo menu non mostrerà elementi a discesa",
            "ja": "このメニューにはドロップダウンアイテムは表示されません",
            "pt-BR": "Este menu não mostra itens suspensos"
          }
        }
      ]
    },
    {
      "type": "text",
      "name": {
        "de": "Text",
        "en": "Text",
        "es": "Texto",
        "fr": "Texte",
        "it": "Testo",
        "ja": "テキスト",
        "pt-BR": "Texto"
      },
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": {
            "de": "Titel",
            "en": "Heading",
            "es": "Título",
            "fr": "Titre",
            "it": "Heading",
            "ja": "見出し",
            "pt-BR": "Título"
          },
          "default": {
            "de": "Textspalte",
            "en": "Text column",
            "es": "Columna de texto",
            "fr": "Colonne de texte",
            "it": "Colonna di testo",
            "ja": "テキスト列",
            "pt-BR": "Coluna de texto"
          }
        },
        {
          "type": "richtext",
          "id": "text",
          "label": {
            "de": "Text",
            "en": "Text",
            "es": "Texto",
            "fr": "Texte",
            "it": "Testo",
            "ja": "テキスト",
            "pt-BR": "Texto"
          },
          "default": {
            "de": "<p>Teilen Sie Ihre Shop-Details, Werbeaktionen oder Markeninhalte mit Ihren Kunden</p>",
            "en": "<p>Share store details, promotions, or brand content with your customers</p>",
            "es": "<p>Comparte detalles de la tienda, promociones o contenido de la marca con tus clientes.</p>",
            "fr": "<p>Partagez les détails de la boutique, les promotions ou le contenu de la marque avec vos clients</p>",
            "it": "<p>Condividi dettagli del negozio, promozioni o contenuto del brand con i clienti</p>",
            "ja": "<p>ストア詳細、プロモーション、ブランドのコンテンツをお客様と共有する</p>",
            "pt-BR": "<p>Compartilhe detalhes da loja, promoções ou conteúdo da marca com seus clientes</p>"
          }
        }
      ]
    },
    {
      "type": "newsletter",
      "name": {
        "de": "Newsletter",
        "en": "Newsletter",
        "es": "Boletín",
        "fr": "Newsletter",
        "it": "Newsletter",
        "ja": "メールマガジン",
        "pt-BR": "Newsletter"
      },
      "limit": 1,
      "settings": [
        {
          "type": "color",
          "id": "color_newsletter_input",
          "label": {
            "de": "Newsletter-Feld",
            "en": "Newsletter field",
            "es": "Campo del boletín",
            "fr": "Champ de la newsletter",
            "it": "Campo newsletter",
            "ja": "メールマガジンのフィールド",
            "pt-BR": "Campo da newsletter"
          },
          "default": "#1a1a1a"
        },
        {
          "type": "color",
          "id": "color_newsletter_input_text",
          "label": {
            "de": "Newsletter-Text",
            "en": "Newsletter text",
            "es": "Texto del boletín",
            "fr": "Texte de la newsletter",
            "it": "Testo newsletter",
            "ja": "メールマガジンのテキスト",
            "pt-BR": "Texto da newsletter"
          },
          "default": "#fff"
        },
        {
          "type": "text",
          "id": "title",
          "label": {
            "de": "Titel",
            "en": "Heading",
            "es": "Título",
            "fr": "Titre",
            "it": "Heading",
            "ja": "見出し",
            "pt-BR": "Título"
          },
          "default": {
            "de": "Bleiben Sie auf dem Laufenden",
            "en": "Be in the know",
            "es": "Mantente informado",
            "fr": "Restez au courant",
            "it": "Rimani aggiornato",
            "ja": "よく知ってください",
            "pt-BR": "Fique por dentro"
          }
        },
        {
          "type": "richtext",
          "id": "subheading",
          "label": {
            "de": "Unter-Überschrift",
            "en": "Subheading",
            "es": "Subtítulo",
            "fr": "Sous-titre",
            "it": "Sottotitolo",
            "ja": "小見出し",
            "pt-BR": "Subtítulo"
          },
          "default": {
            "de": "<p>Werbeaktionen, neue Produkte und Sonderangebote. Direkt in Ihrem Posteingang.</p>",
            "en": "<p>Promotions, new products and sales. Directly to your inbox.</p>",
            "es": "<p>Promociones, nuevos productos y ofertas. Directamente a tu bandeja de entrada.</p>",
            "fr": "<p>Promotions, nouveaux produits et soldes. Directement dans votre boîte de réception.</p>",
            "it": "<p>Promozioni, nuovi prodotti e offerte. Direttamente nella tua inbox.</p>",
            "ja": "<p>プロモーション、新商品、セールについて、あなたの受信箱に直接知らせる。</p>",
            "pt-BR": "<p>Promoções, novos produtos e vendas. Diretamente para sua caixa de entrada.</p>"
          }
        }
      ]
    }
  ]
}
{% endschema %}
